* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
    background-color: #E7E7E7;
    overflow: hidden;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    padding: 1rem 4rem;
}

nav .right{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    
}
nav .right h3{
    font-weight: 100;
}
nav .right .logo{
    width: 2rem;
    height: 2rem;
}
nav .right .logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
nav .left a{
    color: black;
    font-weight: 100;
    text-decoration: underline;
    cursor: pointer;
}

header{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 3rem;
    padding: 4rem;
}
.line{
    width: 2px;
    height: 40vh;
    background-color: black;
    margin: 0 auto;
    
}
header .first{
    display: flex;
    flex-direction: column;
    height: 80vh;
    gap: 20px;
    margin-top: 5rem;
}
.word{
    transform: rotate(90deg);
    
}
.prob{
    margin-left: 100px;
    white-space: nowrap;
}
.second{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    height: 80%;
    position: relative;
}
.second .top{
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    
    
}
.third{
    width: 700px;
    height: 700px;
    position: absolute;
    bottom: 0;
    right: 0;
    
}
.third img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(70%);
}