*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width:100%
}
body{
  background-color: #191919;
  color: rgb(241, 241, 241);
}

.section{
  display: flex;
  justify-content: space-between;
  background-color: rgb(46, 98, 187);
  padding: 20px;
}